aiohttp
async-timeout
attrs
beautifulsoup4
Brotli
certifi
chardet
click
crontab
dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
future
gunicorn
idna
itsdangerous
MarkupSafe
multidict
numpy
pandas
plotly
python-dateutil
pytz
requests
retrying
six
slackclient
soupsieve
urllib3
Werkzeug
yarl
